<h1>Store</h1>


<div class="row" ng-repeat="row in rows">
      <div class="three columns">
        <div ng-repeat="wine in row">
            <div class="medium-4 large-4 columns">
              <div class="item-wrapper">
                <div class="img-wrapper">
                   <form ng-submit="addToCart(wine)">
                    <div>
                            <ngcart-addtocart id="{{ wine.id }}" 
                                  name="{{ wine.name }}" 
                                  price="{{ wine.price }}" 
                                  quantity="1" 
                                  quantity-max="2" 
                                  data="wine">
                                Add to Cart
                        </ngcart-addtocart>
                    </div>
                </form>
                  <a href="#/wine/{{wine.id}}"><img alt="{{wine.name}}" src='{{wine.image_path}}' /></a>
                </div>
                <h4><a href="#/wine/{{wine.id}}">{{wine.name}}</a></h4>
                <h5>SGD {{wine.price}}</h5>
                <p>{{wine.tasting_note}}</p>
              </div>
            </div>

        </div>

            <div class="wine empty">
            </div>

      </div>
</div>



<!--
<div class="row" ng-repeat="row in rows">
      <div class="three columns">
        <div ng-repeat="wine in row">
            <div class="medium-4 large-4 columns">
              <div class="item-wrapper">
                <div class="img-wrapper">
                   <form ng-submit="addToCart(wine)">
                    <div>
                        <input class="button expand add-to-cart" type="submit" value="Add to Cart" />
                    </div>
                </form>
                  <a href="/#/wine/{{wine.id}}"><img alt="{{wine.name}}" src="{{wine.image_path}}" /></a>
                </div>
                <h4><a href="/#/wines/{{wine.id}}">{{wine.name}}</a></h4>
                <h5>SGD {{wine.price}}</h5>
                <p>{{wine.tasting_note}}</p>
              </div>

            </div>

        </div>

            <div class="wine empty">
            </div>

      </div>
</div>
-->



<!--

<table class="wines" style="width:100%">
  <tr>
    <th>No</th>
    <th>Name</th> 
    <th>Year</th>
    <th>Price</th>
    <th>Tasting Note</th>
    <th>Volume</th>
    <th>Palate</th>
    <th>Nose</th>
  </tr>
  <tr ng-repeat="wine in wines">
    <td><a href="#/wine/{{wine.id}}" >{{wine.id}}</a></td>
    <td><a href="#/wine/{{wine.id}}" >{{wine.name}}</a></td> 
    <td>{{wine.year}}</td>
    <th>{{wine.price}}</td>
    <td>{{wine.tasting_note}}</td>
    <td>{{wine.volume}}</td>
    <td>{{wine.palate}}</td>
    <td>{{wine.nose}}</td>
  </tr>
</table>
-->
