
	<ul id="progressbar">
		<li class="active">Enter Details</li>
		<li class="active">Review Order</li>
		<li class="active">Completed</li>
	</ul>

<div class="row">
  
    <div class="small-12 large-7 columns">
        
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th> 
        <th>Total</th>
      </tr>
      <tr ng-repeat="item in complete.orderItems">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>${{to2decimal(item.unit_price)}}</td>
        <td>${{to2decimal(item.unit_price * item.quantity)}}</td>
      </tr>
      <tr>
        <th colspan="3">Tax (7%):</th>
        <th>${{to2decimal(complete.tax)}}</th>
      </tr>
      <tr>
        <th colspan="3">Shipping</th>
        <th>{{getShipping()}}</th>
      </tr>
      <tr>
        <th colspan="3">Total</th>
        <th>${{to2decimal(complete.total_cost)}}</th>
      </tr>
    </table>
    
    <table style="width:100%">
      <tr>
        <th colspan="4">Shipping Details</th>
      </tr>
      <tr>
        <th colspan="1">Name</th>
        <td colspan="3">{{complete.full_name}}</td>
      </tr>
      <tr>
        <th colspan="1">Email</th>
        <td colspan="3">{{complete.email}}</td>
      </tr>
      <tr>
        <th colspan="1">Address</th>
        <td colspan="3">{{complete.address}}</td>
    <tr>
        <th colspan="1">City</th>
        <td colspan="3">{{complete.city}}</td>
      </tr>
      <tr>
        <th colspan="1">Country</th>
        <td colspan="3">{{complete.country}}</td>
      </tr>
      </tr>
      <tr>
        <th colspan="1">Postal Code</th>
        <td colspan="3">{{complete.postal_code}}</td>
      </tr>
      <tr>
        <th colspan="1">Mobile</th>
        <td colspan="3">{{complete.mobile}}</td>
      </tr>
      <tr>
        <th colspan="1">Other Instructions</th>
        <td colspan="3">{{complete.other_instructions}}</td>
      </tr>
    </table>
       
    </div>
    
    <div class="large-5 columns"> 

           
    </div>
    
</div>