
	<ul id="progressbar">
		<li class="active">Enter Details</li>
		<li class="active">Review Order</li>
		<li>Completed</li>
	</ul>

<div class="row">
  
    <div class="small-12 large-7 columns">
        
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th> 
        <th>Total</th>
      </tr>
      <tr ng-repeat="item in review_order.items">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>${{to2decimal(item.price)}}</td>
        <td>${{to2decimal(item.price * item.quantity)}}</td>
      </tr>
      <tr>
        <th colspan="3">Tax (7%):</th>
        <th>${{to2decimal(review_order.tax)}}</th>
      </tr>
      <tr>
        <th colspan="3">Shipping</th>
        <th>{{getShipping()}}</th>
      </tr>
      <tr>
        <th colspan="3">Total</th>
        <th>${{to2decimal(review_order.total)}}</th>
      </tr>
    </table>
    
    <table style="width:100%">
      <tr>
        <th colspan="4">Shipping Details</th>
      </tr>
      <tr>
        <th colspan="1">Name</th>
        <td colspan="3">{{review_order.full_name}}</td>
      </tr>
      <tr>
        <th colspan="1">Email</th>
        <td colspan="3">{{review_order.email}}</td>
      </tr>
      <tr>
        <th colspan="1">Address</th>
        <td colspan="3">{{review_order.address}}</td>
    <tr>
        <th colspan="1">City</th>
        <td colspan="3">{{review_order.city}}</td>
      </tr>
      <tr>
        <th colspan="1">Country</th>
        <td colspan="3">{{review_order.country}}</td>
      </tr>
      </tr>
      <tr>
        <th colspan="1">Postal Code</th>
        <td colspan="3">{{review_order.postal_code}}</td>
      </tr>
      <tr>
        <th colspan="1">Mobile</th>
        <td colspan="3">{{review_order.mobile}}</td>
      </tr>
      <tr>
        <th colspan="1">Other Instructions</th>
        <td colspan="3">{{review_order.other_instructions}}</td>
      </tr>
    </table>
        {{name}}
    </div>
    
    <div class="large-5 columns"> 

<!--
        <form action="" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{key}}"
            data-amount="{{amount}}"
            data-name="{{store_name}}"
            data-description="{{item}}"
            data-image="images/logo-small.png"
            data-locale="auto">
            
            var token_value = document.getElementById("stripeToken").value;
          </script>
        </form>
-->
        
        
            <form stripe-form="handleStripe" name="myForm">

              <div>
                <label for="">Card number</label>
                <input type="text" class="input-block-level" 
                       ng-model="number" payments-validate="card" 
                       payments-format="card" payments-type-model="type" 
                       ng-class="myForm.number.$card.type"/>
              </div>
              
              <div>
                <label for="">Expiry</label>
                <input type="text" 
                       class="input-block-level" 
                       ng-model="expiry" 
                       payments-validate="expiry" 
                       payments-format="expiry" />
              </div>
              
              <div>
                <label for="">Name on card </label>
                <input type="text" class="input-block-level">
              </div>
              
              <div>
                <label for="">CVC</label>
                <input type="text" 
                       class="input-block-level" 
                       ng-model="cvc" 
                       payments-validate="cvc" 
                       payments-format="cvc" 
                       payments-type-model="type"/>
              </div>
              
              <div>
                <button type="submit" class="btn btn-primary btn-large">Purchase</button>
              </div>
            </form>
        
        
        
    </div>
    
</div>